/* copy and pasted to center canvas, will modify later on */
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #facdd1;
}

.container {
 width: 700px;
 height: 800px;
 background-color: #bfd7fa;
 padding: 3px;
 border: #eb7184;
 border-width: 10px;
 justify-content: space-between;
}

.content {
 justify-content: center;
}

.headerstyle {
 font-family: "Atma", sans-serif;
 text-align: center;
 font-size: 50px;
}

.secondheaderstyle {
 font-family: "Atma", sans-serif;
 text-align: center;
 font-size: 30px;
}

.rulestyle {
 font-family:Georgia, Times, 'Times New Roman', serif;
 font-size: 20px;
 text-align: center;
 color: black;
}

button {
 font-family: "Atma", sans-serif;
 font-size: 20px;
 text-align: center;
 background-color: #eb7184;
 padding: 5px;
}

.containerEnd {
 width: 700px;
 height: 800px;
 background-color: rgb(156, 190, 241);
 padding: 3px;
 justify-content: center;  
}

#gameEnd {
 display: none;

}

#complete {
display: none;
}